* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.all {
  display: grid;
  place-items: center;
}

h1 {
  font-size: 5.4rem;
  color: white;
}

h2 {
  font-size: 4.2rem;
  color: #fcfeff;
  font-weight: 500;
}

h3 {
  color: white;
  font-size: 2.2rem;
  font-weight: 100;
}

#inp {
  width: 485px;
  padding: 7px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url("/images/background2.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

#sub {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 30px auto;
}

#btn {
  width: 200px;
  cursor: pointer;
}

.btn2 {
  width: 180px;
  margin-top: 0.8rem;
  padding: 5px;
  cursor: pointer;
}

.form-box {
  position: relative;
  width: 50%;
  height: 400px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  color: white;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0 30px 0;
  width: 310px;
  border-bottom: 2px solid white;
}

.inputbox input {
  width: 100%;
  height: 8px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.4em;
  font-weight: 300;
  padding: 0 5px 0 5px;
  color: white;
}

button {
  width: 80%;
  margin: 2px;
  height: 40px;
  border-radius: 40px;
  background: white;
  color: rgba(0, 0, 0, 0.867);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 2.5px solid rgba(255, 255, 255, 0.5);
  transition: 0.3s;
  color: #fff;
}
